target/
*.out
.DS_Store
src/test/resources/range_regression_today.txt
rawdata/*
.ensime*
/daisy
last.log
output/*
!output/README
.directory
src/test/resources/mixed-precision/*MultPost*.scala
src/test/resources/mixed-precision/*CostEval*.scala
src/test/scala/evaluation/*.scala
src/bench/scala/mixed-precision/generated/*.scala
smt-sessions/
src/bench/scala/mixed-precision/costeval/*.scala
tools/fptuner_translator/output/
fpga/accel_*/
fpga/results_*/
fpga/source_*/
fpga/vivado_hls.log
*.o
*-test-matrix
*-test-vector
*.so
*dSYM
*__.c*
*__.gappa*
metalibm/
metalibmParams_*.txt
impl.*
.idea/
